body {
  font-family: 'Franklin Gothic Medium';
  color: #05445e;
  margin: 0;
  /* display: flex; */
  flex-direction: column;
  background-color: #75e6da;
}

.box{
    width: 450px;
    inline-size: 450px;
    height: 100px;
    block-size: 100px;
    margin: 25px;
    padding: 25px;
    border: 5px;
      padding: 5px;
  background-color: #05445e;
  border-radius: 25px;
  color: orange;
}

header {
  padding: 5px;
  text-align: center;
}

/*
NAV BAR STUFF
*/

nav ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 0px;
  justify-content: space-around;
  align-items: center;
  background-color: #189ab4;
  list-style: none;
  padding-bottom: 0px;
}

li {
  padding: 5px;
  background-color: #05445e;
  border-radius: 25px;
}

li a {
  color: orange;
  text-decoration: none;
}

.button {
  transition-duration: 0.6s;
}

.button:hover {
  background-color: orange; 
  color: orange;
}

/*
main {
}

section {
}

footer {
}
*/
