body {
  font-family: "Franklin Gothic Medium";
  color: #05445e;
  margin: 0;
  /* display: flex; */
  flex-direction: column;
  background-color: #75e6da;
}
/*
BOX
*/

.box {
  width: 80vw;
  /* inline-size: 450px;
  block-size: 100px; */
  margin: 25px;
  padding: 25px;
  border: 5px;
  padding: 15px;
  padding-bottom: 15px;
  background-color: #05445e;
  border-radius: 25px;
  color: orange;
  text-align: center;
}
/*
Header
*/

header {
  padding: 5px;
  text-align: center;
}

/*
NAV BAR STUFF
*/

.selfieImg {
  width: 100%;
}

.boxHeader {
  margin-top: 5px;
  margin-bottom: 5px;
}

nav ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 0px;
  justify-content: space-around;
  align-items: center;
  background-color: #189ab4;
  list-style: none;
  padding-bottom: 0px;
}

li {
  padding: 5px;
  background-color: #05445e;
  border-radius: 25px;
}

li a {
  color: orange;
  text-decoration: none;
}

.button {
  transition-duration: 0.6s;
}

.button:hover {
  background-color: orange;
  color: orange;
}

/*
main {
}

Button function 

footer {
}
*/
